
<h1>108 上 (Fall) 課表</h1>

<table>
<tr>
  <th class="head">節 &nbsp;\ &nbsp;週</th>
  <th>一 (M)</th>
  <th>二 (T)</th>
  <th>三 (W)</th>
  <th>四 (R)</th>
  <th>五 (F)</th>
</tr>
<tr>
  <td class="head side"><span class="clsText">1</span><br />(8:00~8:50)</td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td class="head side"><span class="clsText">2</span><br />(9:00~9:50)</td>
  <td></td>
  <td></td>
  <td class="LA">線性代數<br /><span class="room">台達 103/9</span></td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td class="head side"><span class="clsText">3</span><br />(10:10~11:00)</td>
  <td class="LA">線性代數<br /><span class="room">台達 103/9</span></td>
  <td class="DS">資料結構<br /><span class="room">台達 104</span></td>
  <td class="ODE">常微分方程<br /><span class="room">台達 105</span></td>
  <td class="DS">資料結構<br /><span class="room">台達 104</span></td>
  <td class="ODE">常微分方程<br /><span class="room">台達 105</span></td>
</tr>
<tr>
  <td class="head side"><span class="clsText">4</span><br />(11:10~12:00)</td>
  <td class="LA">線性代數<br /><span class="room">台達 103/9</span></td>
  <td class="DS">資料結構<br /><span class="room">台達 104</span></td>
  <td class="ODE">常微分方程<br /><span class="room">台達 105</span></td>
  <td></td>
  <td class="ODE">常微分方程<br /><span class="room">台達 105</span></td>
</tr>
<tr>
  <td class="head side"><span class="clsText">n</span><br />(12:10~13:00)</td>
  <td class="FR">初級法語一<br /><span class="room">旺宏 253</span></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td class="head side"><span class="clsText">5</span><br />(13:20~14:10)</td>
  <td class="FR">初級法語一<br /><span class="room">旺宏 253</span></td>
  <td class="PP">桌球初學</td>
  <td class="PLZ">莊子<br /><span class="room">教育 116</span></td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td class="head side"><span class="clsText">6</span><br />(14:20~15:10)</td>
  <td class="FR">初級法語一<br /><span class="room">旺宏 253</span></td>
  <td class="PP">桌球初學</td>
  <td class="PLZ">莊子<br /><span class="room">教育 116</span></td>
  <td class="ICN">計網概<br /><span class="room">資電 127 /<br />台達 105</span></td>
  <td></td>
</tr>
<tr>
  <td class="head side"><span class="clsText">7</span><br />(15:30~16:20)</td>
  <td class="ICN">計網概<br /><span class="room">資電 127 /<br />台達 105</span></td>
  <td class="LDL">邏設實驗<br /><span class="room">台達 105<br />資電 326</span></td>
  <td class="uncertain">？</td>
  <td class="LDL">邏設實驗<br /><span class="room">台達 105<br />資電 326</span></td>
  <td></td>
</tr>
<tr>
  <td class="head side"><span class="clsText">8</span><br />(16:30~17:20)</td>
  <td class="ICN">計網概<br /><span class="room">資電 127 /<br />台達 105</span></td>
  <td class="LDL">邏設實驗<br /><span class="room">台達 105<br />資電 326</span></td>
  <td class="uncertain">？</td>
  <td class="LDL">邏設實驗<br /><span class="room">台達 105<br />資電 326</span></td>
  <td></td>
</tr>
<tr>
  <td class="head side"><span class="clsText">9</span><br />(17:30~18:20)</td>
  <td></td>
  <td></td>
  <td class="uncertain">？</td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td class="head side"><span class="clsText">a</span><br />(18:30~19:20)</td>
  <td></td>
  <td></td>
  <td class="DS">資料結構<br /><span class="room">資電 328</span></td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td class="head side"><span class="clsText">b</span><br />(19:30~20:20)</td>
  <td></td>
  <td></td>
  <td class="DS">資料結構<br /><span class="room">資電 328</span></td>
  <td></td>
  <td></td>
</tr>

</table>
